<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories - Inventory App</title>
  </head>
  <body>
    <%- include("partials/navbar", { links }) %>
    <main>
      <header>Categories</header>
      <div>
        <ul>
          <h1>Genres</h1>
          <% categories
            .filter(row => row.type === "genre").forEach((row) => { %>
            <li>
              <a href="/categories/<%= row.id %>"><%= row.category %></a>
            </li>
          <% }) %>
        </ul>
        <ul>
          <h1>Platforms</h1>
          <% categories
            .filter(row => row.type === "platform").forEach((row) => { %>
            <li>
              <a href="/categories/<%= row.id %>"><%= row.category %></a>
            </li>
          <% }) %>
        </ul>
        <ul>
          <h1>Developers</h1>
          <% categories
            .filter(row => row.type === "developer").forEach((row) => { %>
            <li>
              <a href="/categories/<%= row.id %>"><%= row.category %></a>
            </li>
          <% }) %>
        </ul>
      </div>
    </main>    
  </body>
</html>