<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories - Inventory App</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/categories.css">
  </head>
  <body>
    <%- include("partials/navbar", { links }) %>
    <main>
      <div class="main">
        <header>Categories</header>
        <a href="/categories/create" class="new-category">Create New Category</a>
        <div class="types">
          <ul class="type">
            <h1 class="heading">Genres</h1>
            <% categories
              .filter(row => row.type === "genre").forEach((row) => { %>
              <li class="category">
                <a href="/categories/category/<%= row.id %>" class="visit-category"><%= row.category %></a>
                <a href="/categories/update/<%= row.id %>" class="update-category">Update</a>
                <form action="/categories/delete/<%= row.id %>" method="POST">
                  <label class="password">
                    Admin password:
                    <input type="password" name="password" required>
                  </label>
                  <button type="submit" class="delete">Delete category</button>
                </form>
              </li>
            <% }) %>
          </ul>
          <ul class="type">
            <h1 class="heading">Platforms</h1>
            <% categories
              .filter(row => row.type === "platform").forEach((row) => { %>
              <li class="category">
                <a href="/categories/category/<%= row.id %>" class="visit-category"><%= row.category %></a>
                <a href="/categories/update/<%= row.id %>" class="update-category">Update</a>
                <form action="/categories/delete/<%= row.id %>" method="POST">
                  <label class="password">
                    Admin password:
                    <input type="password" name="password" required>
                  </label>
                  <button type="submit" class="delete">Delete category</button>
                </form>
              </li>
            <% }) %>
          </ul>
          <ul class="type">
            <h1 class="heading">Developers</h1>
            <% categories
              .filter(row => row.type === "developer").forEach((row) => { %>
              <li class="category">
                <a href="/categories/category/<%= row.id %>" class="visit-category"><%= row.category %></a>
                <a href="/categories/update/<%= row.id %>" class="update-category">Update</a>
                <form action="/categories/delete/<%= row.id %>" method="POST">
                  <label class="password">
                    Admin password:
                    <input type="password" name="password" required>
                  </label>
                  <button type="submit" class="delete">Delete category</button>
                </form>
              </li>
            <% }) %>
          </ul>
        </div>
      </div>
    </main>    
  </body>
</html>