<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories - Inventory App</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/global.css">
  </head>
  <body>
    <%- include("partials/navbar", { links }) %>
    <main>
      <header>Categories</header>
      <a href="/categories/create">Create New Category</a>
      <div>
        <ul>
          <h1>Genres</h1>
          <% categories
            .filter(row => row.type === "genre").forEach((row) => { %>
            <li>
              <a href="/categories/category/<%= row.id %>"><%= row.category %></a>
              <a href="/categories/update/<%= row.id %>">Update</a>
              <form action="/categories/delete/<%= row.id %>" method="POST">
                <div>
                  <label for="password">Admin password:</label>
                  <input type="password" name="password" id="password" required>
                </div>
                <div>
                  <button type="submit">Delete category</button>
                </div>
              </form>
            </li>
          <% }) %>
        </ul>
        <ul>
          <h1>Platforms</h1>
          <% categories
            .filter(row => row.type === "platform").forEach((row) => { %>
            <li>
              <a href="/categories/category/<%= row.id %>"><%= row.category %></a>
              <a href="/categories/update/<%= row.id %>">Update</a>
              <form action="/categories/delete/<%= row.id %>" method="POST">
                <div>
                  <label for="password">Admin password:</label>
                  <input type="password" name="password" id="password" required>
                </div>
                <div>
                  <button type="submit">Delete category</button>
                </div>
              </form>
            </li>
          <% }) %>
        </ul>
        <ul>
          <h1>Developers</h1>
          <% categories
            .filter(row => row.type === "developer").forEach((row) => { %>
            <li>
              <a href="/categories/category/<%= row.id %>"><%= row.category %></a>
              <a href="/categories/update/<%= row.id %>">Update</a>
              <form action="/categories/delete/<%= row.id %>" method="POST">
                <div>
                  <label for="password">Admin password:</label>
                  <input type="password" name="password" id="password" required>
                </div>
                <div>
                  <button type="submit">Delete category</button>
                </div>
              </form>
            </li>
          <% }) %>
        </ul>
      </div>
    </main>    
  </body>
</html>