<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= action %> Game - Inventory App</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/form.css">
  </head>
  <body>
    <%- include("partials/navbar", { links }) %>
    <main>
      <div class="main">
        <header><%= action %> Game</header>
        <form action="/games/<%= href %>" method="POST" class="form">
          <%- include("partials/errors", { errors: locals.errors }) %>
          <div class="form-part">
            <label for="game">Game:</label>
            <input type="text" name="game" id="game" autocomplete="off" value="<%= game.game || '' %>" autofocus required class="text-input">
          </div>
          <div class="form-part">
            <label for="price">Price(in euros - €):</label>
            <input type="tel" name="price" id="price" autocomplete="off" value="<%= game.price || '' %>" required class="text-input">
          </div>
          <div class="form-part">
            <label for="releaseDate">Release Date:</label>
            <input type="date" name="releaseDate" id="releaseDate" value="<%= game.release_date || '' %>" required class="text-input">
          </div>
          <div class="form-part">
            <label for="about">About:</label>
            <textarea name="about" id="about" required><%= game.about || '' %></textarea>
          </div>
          <% Object.keys(types).forEach((type) => { %>
            <fieldset>
              <legend><%= type[0].toUpperCase() + type.slice(1) %></legend>
              <div class="radios">
                <% types[type].forEach((row) => { %>
                  <% if (row.checked) { %>
                    <div class="radio">
                      <input type="checkbox" name="<%= type %>" id="<%= row.category %>" value="<%= row.id %>" checked>
                      <label for="<%= row.category %>"><%= row.category[0].toUpperCase() + row.category.slice(1) %></label>
                    </div>
                  <% } else { %>
                    <div class="radio">
                      <input type="checkbox" name="<%= type %>" id="<%= row.category %>" value="<%= row.id %>">
                      <label for="<%= row.category %>"><%= row.category[0].toUpperCase() + row.category.slice(1) %></label>
                    </div>
                  <% } %>
                <% }) %>
              </div>
            </fieldset>
          <% }) %>
          <div class="form-part">
            <label for="password">Admin password:</label>
            <input type="password" name="password" id="password" required class="text-input">
          </div>
          <div>
            <button type="submit" class="submit">Submit</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
