<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= game.game %> - Inventory App</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/game.css">
  </head>
  <body>
    <%- include("partials/navbar", { links }) %>
    <main>
      <div class="main">
        <header><%= game.game %></header>
        <p class="general-info">Price: <%= game.price %>€</p>
        <p class="general-info">About:<br><%= game.about %></p>
        <p class="general-info">Release Date: <%= game.release_date.toDateString().slice(4) %></p>
        <ul class="list">
          <p class="heading">Genres:</p>
          <% game.genres.forEach((row) => { %>
            <li><%= row.category %></li>
          <% }) %>
        </ul>
        <ul class="list">
          <p class="heading">Developers:</p>
          <% game.developers.forEach((row) => { %>
            <li><%= row.category %></li>
          <% }) %>
        </ul>
        <ul class="list">
          <p class="heading">Platforms:</p>
          <% game.platforms.forEach((row) => { %>
            <li><%= row.category %></li>
          <% }) %>
        </ul>
        <a href="/games/update/<%= game.id %>" class="link">Update game</a>
        <form action="/games/delete/<%= game.id %>" method="POST">
          <label for="password">Admin password:</label>
          <input type="password" name="password" id="password" required>
          <button type="submit" class="delete">Delete game</button>
        </form>
      </div>
    </main>
  </body>
</html>