<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= action %> Game - Inventory App</title>
  </head>
  <body>
    <%- include("partials/navbar", { links }) %>
    <main>
      <header><%= action %> Game</header>
      <form action="/games/<%= href %>" method="POST">
        <%- include("partials/errors", { errors: locals.errors }) %>
        <div>
          <label for="game">Game:</label>
          <input type="text" name="game" id="game" autocomplete="off" autofocus required>
        </div>
        <div>
          <label for="price">Price(in euros - €):</label>
          <input type="tel" name="price" id="price" autocomplete="off" required>
        </div>
        <div>
          <label for="releaseDate">Release Date:</label>
          <input type="date" name="releaseDate" id="releaseDate" required>
        </div>
        <div>
          <label for="about">About:</label>
          <textarea name="about" id="about" required></textarea>
        </div>
        <% Object.keys(types).forEach((type) => { %>
          <fieldset>
            <legend><%= type[0].toUpperCase() + type.slice(1) %></legend>
            <% types[type].forEach((row) => { %>
              <div>
                <input type="checkbox" name="<%= type %>" id="<%= row.category %>" value="<%= row.id %>">
                <label for="<%= row.category %>"><%= row.category[0].toUpperCase() + row.category.slice(1) %></label>
              </div>
            <% }) %>
          </fieldset>
        <% }) %>
        <div>
          <label for="password">Admin password:</label>
          <input type="password" name="password" id="password" required>
        </div>
        <div>
          <button type="submit">Submit</button>
        </div>
      </form>
    </main>
  </body>
</html>
